/*Overall CSS*/
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/*Nav bar*/

header ul{
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
    background-color: #252525;
    border: 3px solid #252525;
}
header li{
    float: left;
}
header li a{
    display: block;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 2vh 2vh;
    margin: auto;
    text-decoration: none;
}
header li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: antiquewhite;
    display: block;
    margin: auto;
    transition: 0.5s;
}
header li a:hover::after{
    background-color: #ffffff;
    width: 100%;
}
header h1{
    text-align: center;
    font-size: 25px;
    align-items: baseline;
    color:#ffffff;
    padding: 2vh 2vh;
}

body{
    background-color: #a39430;
    background: linear-gradient(135deg, #ffffff55 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #ffffff 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #ffffff55 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #ffffff 25%, #a39430 25%) 0px 0/ 80px 80px;
}
/*Main*/
main{
    min-height: 100vh;
    justify-content: center;
}
main h2{
    display: block;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #ffffff;
    background-color: #252525;
}
main h4{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    background-color: #252525;
}

/*Section*/
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    border-radius: 25px;
}
.column{
    background-color: #252525;
    padding: 1vh;
    border-radius: 25px;
    display: flex;
    word-break: break-all;
    flex-wrap: wrap;
    margin: 1vh;
}
.container p{
    padding: 2%;
}
div{
    display: block;
}

/*Form*/
.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    border-radius: 25px;
}
.form-column{
    background-color: #252525;
    padding: 1vh;
    border-radius: 25px;
    margin: 1vh;
}

/*Footer*/
footer{
    display: block;
    text-align: center;
    margin-top: auto;
    font-size: 20px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #252525;
    color: #ffffff;
}
/*Labels*/
label {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
}
/*Buttons*/
button{
    border: none;
    border-radius: 25px;
    padding: 15px 32px;
    margin-bottom: 1vh;
    outline: 2px solid #252525;
    font-size: 16px;
    background-color: #ff0000;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}
button:after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: antiquewhite;
    display: block;
    margin: auto;
    transition: 0.5s;
}
button:hover::after{
    background-color: #ffffff;
    width: 100%;
}
/*Input*/
input{
    color: #252525;
    font-size: large;
    font-weight: bold;
}
/*Tabel*/
table, th, td{
    border: 1px solid #ffffff;
    background-color: #252525;
    color: #ffffff;
    margin: 1vh 1vh 1vh 1vh;
}
table{
    width: 50%;
}
th{
    width: 25%;
}



/*Media*/
@media only screen and (max-width: 600px){
    .container{
        margin: 1vh;
    }
}