/*Overall CSS*/
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/*Nav bar*/

header ul{
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
    background-color: #252525;
    border: 3px solid #252525;
}
header li{
    float: left;
}
header li a{
    display: block;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 2vh 2vh;
    margin: auto;
    text-decoration: none;
}
header li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: antiquewhite;
    display: block;
    margin: auto;
    transition: 0.5s;
}
header li a:hover::after{
    background-color: #ffffff;
    width: 100%;
}
header h1{
    text-align: center;
    font-size: 25px;
    align-items: baseline;
    color:#ffffff;
    padding: 2vh 2vh;
}

body{
    background-color: #333;
    display: flex;
    position: relative;
    flex-direction: column;
}
/*Main*/
main{
    min-height: 100vh;
}
main h2{
    text-align: center;
    font-size: 25px;
    margin: 1vh;
    color: #ffffff;
}

/*Section*/
.container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-self: center;
    position: relative;
    background-color: #252525;
    border-radius: 25px;
    border-style: groove;
    border: 3px solid #25252577;
    color: #ffffff;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1vh;
    margin-top: 1vh;
}
.column{
    width: 50%;
    padding: 20px;

}
.container p{
    padding: 2%;
}

/*Footer*/
footer{
    display: block;
    text-align: center;
    margin-top: auto;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #252525;
    color: #ffffff;
}
/*Labels*/
label {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
}
/*Buttons*/
button{
    border: none;
    border-radius: 25px;
    padding: 15px 32px;
    outline: 2px solid #252525;
    font-size: 16px;
    background-color: #333;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}
button:after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: antiquewhite;
    display: block;
    margin: auto;
    transition: 0.5s;
}
button:hover::after{
    background-color: #ffffff;
    width: 100%;
}